Source: dnsservices
Section: web
Priority: optional
Maintainer: Miquel Martos <miquel.martos@guifi.net>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: dnsservices
Architecture: all
#debian/old ubuntu
#Depends: ${misc:Depends}, bind9, php5-cli
#Ubuntu 17.04+
Depends: ${misc:Depends}, bind9, php-cli, php-simplexml
Description: This software provides automatic BIND configuration.
 .
 Uses CNML/xml as a input format, and provides BIND 
 configuration files using web configuration database.


